body{
background-image: url("tabla.png");
background-size: 1370px 650px;
background-repeat: no-repeat;
}
#wrapper{

}
#infoH{display:none;
font-family: "Arial",Times,serif;
font-weight:bold;
position: absolute;
height:500px;
width:850px;
top: 95px;
left: 225px;
text-align:justify;
}
#infoLi{display:none;
font-family: "Arial",Times,serif;
font-weight:bold;
position: absolute;
height:500px;
width:850px;
top: 95px;
left: 225px;
text-align:justify;
}
img{height:250px;
width:350px;
}
h1{text-align:center;}

/*grupoA1*/
#H{position: absolute;
height:53px;
width:55px;
border:2px ;
top: 93px;
left: 90px;
}

#Li{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 152px;
left: 90px;
}

#Na{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 208px;
left: 90px;
}

#K{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 265px;
left: 90px;
}

#Rb{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 321px;
left: 90px;
}

#Cs{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 378px;
left: 90px;
}

#Fr{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 434px;
left: 90px;
}

/*grupoA2*/
#Be{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 152px;
left: 159px;
}

#Mg{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 208px;
left: 159px;
}

#Ca{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 265px;
left: 159px;
}

#Sr{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 321px;
left: 159px;
}

#Ba{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 378px;
left: 159px;
}

#Ra{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 434px;
left: 159px;
}

/*grupoB1*/
#Sc{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 265px;
left: 228px;
}

#Y{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 321px;
left: 228px;
}
/*grupoB2*/
#Ti{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 265px;
left: 296px;
}

#Zr{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 321px;
left: 296px;
}

#Hf{position: absolute;
height:50px;
width:55px;
border:2px;
top: 378px;
left: 296px;
}

#Rf{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 434px;
left: 296px;
}

/*grupoB3*/

#V{position: absolute;
height:50px;
width:55px;
border:2px;
top: 265px;
left: 365px;
}

#Nb{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 321px;
left: 365px;
}

#Ta{position: absolute;
height:50px;
width:55px;
border:2px;
top: 378px;
left: 365px;
}

#Db{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 434px;
left: 365px;
}

/*grupoB4*/

#Cr{position: absolute;
height:50px;
width:55px;
border:2px;
top: 265px;
left: 433px;
}

#Mo{position: absolute;
height:50px;
width:55px;
border:2px;
top: 321px;
left: 433px;
}

#W{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 378px;
left: 433px;
}

#Sg{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 434px;
left: 433px;
}

/*grupoB5*/

#Mn{position: absolute;
height:50px;
width:55px;
border:2px;
top: 265px;
left: 502px;
}

#Tc{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 321px;
left: 502px;
}

#Re{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 378px;
left: 502px;
}

#Bh{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 434px;
left: 502px;
}

/*grupoB6*/

#Fe{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 265px;
left: 570px;
}

#Ru{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 321px;
left: 570px;
}

#Os{position: absolute;
height:50px;
width:55px;
border:2px;
top: 378px;
left: 570px;
}

#Hs{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 434px;
left: 570px;
}

/*grupoB7*/

#Co{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 265px;
left: 639px;
}

#Rh{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 321px;
left: 639px;
}

#Ir{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 378px;
left: 639px;
}

#Mt{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 434px;
left: 639px;
}

/*grupoB8*/

#Ni{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 265px;
left: 708px;
}

#Pd{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 321px;
left: 708px;
}

#Pt{position: absolute;
height:50px;
width:55px;
border:2px;
top: 378px;
left: 708px;
}

#Ds{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 434px;
left: 708px;
}

/*grupoB9*/

#Cu{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 265px;
left: 776px;
}

#Ag{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 321px;
left: 776px;
}

#Au{position: absolute;
height:50px;
width:55px;
border:2px;
top: 378px;
left: 776px;
}

#Rg{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 434px;
left: 776px;
}

/*grupoB10*/

#Zn{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 265px;
left: 845px;
}

#Cd{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 321px;
left: 845px;
}

#Hg{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 378px;
left: 845px;
}

#Cn{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 434px;
left: 845px;
}

/*grupoA3*/
#B{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 152px;
left: 914px;
}

#Al{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 208px;
left: 914px;
}

#Ga{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 265px;
left: 914px;
}

#In{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 321px;
left: 914px;
}

#Tl{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 378px;
left: 914px;
}

#Uut{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 434px;
left: 914px;
}

/*grupoA4*/
#C{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 152px;
left: 983px;
}

#Si{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 208px;
left: 983px;
}

#Ge{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 265px;
left: 983px;
}

#Sn{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 321px;
left: 983px;
}

#Pb{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 378px;
left: 983px;
}

#Fl{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 434px;
left: 983px;
}
/*grupoA5*/
#N{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 152px;
left: 1048px;
}

#P{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 208px;
left: 1048px;
}

#As{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 265px;
left: 1048px;
}

#Sb{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 321px;
left: 1048px;
}

#Bi{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 378px;
left: 1048px;
}

#Uup{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 434px;
left: 1048px;
}

/*grupoA6*/
#O{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 152px;
left: 1118px;
}

#S{position: absolute;
height:50px;
width:55px;
border:2px;
top: 208px;
left: 1118px;
}

#Se{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 265px;
left: 1118px;
}

#Te{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 321px;
left: 1118px;
}

#Po{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 378px;
left: 1118px;
}

#Lv{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 434px;
left: 1118px;
}

/*grupoA7*/
#F{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 152px;
left: 1186px;
}

#Cl{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 208px;
left: 1186px;
}

#Br{position: absolute;
height:50px;
width:55px;
border:2px;
top: 265px;
left: 1186px;
}

#I{position: absolute;
height:50px;
width:55px;
border:2px;
top: 321px;
left: 1186px;
}

#At{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 378px;
left: 1186px;
}

#Uus{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 434px;
left: 1186px;
}

/*grupoA8*/
#He{position: absolute;
height:53px;
width:55px;
border:2px;
top: 93px;
left: 1255px;
}

#Ne{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 152px;
left: 1255px;
}

#Ar{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 208px;
left: 1255px;
}

#Kr{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 265px;
left: 1255px;
}

#Xe{position: absolute;
height:50px;
width:55px;
border:2px;
top: 321px;
left: 1255px;
}

#Rn{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 378px;
left: 1255px;
}

#Uuo{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 434px;
left: 1255px;
}

/*grupoB,aparte*/
#La{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 522px;
left: 296px;
}

#Ac{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 579px;
left: 296px;
}

#Ce{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 522px;
left: 364px;
}

#Th{position: absolute;
height:50px;
width:55px;
border:2px
top: 579px;
left: 364px;
}

#Pr{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 522px;
left: 433px;
}

#Pa{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 579px;
left: 433px;
}

#Nd{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 522px;
left: 501px;
}

#U{position: absolute;
height:50px;
width:55px;
border:2px ;
top:579px;
left: 501px;
}

#Pm{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 522px;
left: 570px;
}

#Np{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 579px;
left: 570px;
}

#Sm{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 522px;
left: 638px;
}

#Pu{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 579px;
left: 638px;
}

#Eu{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 522px;
left:707px;
}

#Am{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 579px;
left: 707px;
}

#Gd{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 522px;
left: 776px;
}

#Cm{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 579px;
left: 776px;
}

#Tb{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 522px;
left: 844px;
}

#Bk{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 579px;
left: 844px;
}

#Dy{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 522px;
left: 913px;
}

#Cf{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 579px;
left: 913px;
}

#Ho{position: absolute;
height:50px;
width:55px;
border:2px;
top: 522px;
left: 981px;
}

#Es{position: absolute;
height:50px;
width:55px;
border:2px;
top: 579px;
left: 981px;
}

#Er{position: absolute;
height:50px;
width:55px;
border:2px;
top: 522px;
left: 1050px;
}

#Fm{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 579px;
left: 1050px;
}

#Tm{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 522px;
left: 1118px;
}

#Md{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 579px;
left: 1118px;
}

#Yb{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 522px;
left: 1187px;
}

#No{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 579px;
left: 1187px;
}

#Lu{position: absolute;
height:50px;
width:55px;
border:2px;
top: 522px;
left: 1255px;
}

#Lr{position: absolute;
height:50px;
width:55px;
border:2px ;
top: 579px;
left: 1255px;
}

/*info*/
#info{display:none;
position: absolute;
height:500px;
width:900px;
border:4px solid black;
top: 100px;
left: 200px;
background-color: white;}
#infobutton{display:none;
position: absolute;
top: 104px;
left: 1080px;
background-color:transparent;
border-color:transparent;
font-weight:bold;
font-family:Comic Sans MS, Times,serif;
}
<link href="http://fonts.googleapis.com/css?family=Bitter&subset=latin" rel="stylesheet" type="text/css">
  
<style>

body {  /* webkit adjacent sibling bug fix */
  -webkit-animation: bugfix infinite 1s; 
}

@-webkit-keyframes bugfix { 
  from {padding:0;} 
  to {padding:0;} 
}

label#sidemenutoggler {   /* Main label icon to toggle menu state */
  z-index: 100;
  display: block;
  position: relative;
  font-size: 10px; /* change font size to change label dimensions. Leave width/height below alone */
  width: 3.5em;
  height: 2em;
  top: 0;
  left: 10px;
  background: #EAE3E3;
  text-indent: -1000px;
  border: 0.6em solid black; /* border color */
  border-width: 0.6em 0;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in; /* transition for animating label */
}


label#sidemenutoggler::before,
label#sidemenutoggler::after {
  /* inner stripes inside label */
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 0.6em;
  top: 50%;
  margin-top: -0.3em;
  left: 0;
  background: black; /* stripes background color. Change to match border color of parent label above */
  -webkit-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in; /* transition for flipping label */
}

#sidemenucheckbox:checked ~ label#sidemenutoggler {
  /* state of main menu label when menu is open  */
  border-color: transparent;
}

#sidemenucheckbox:checked ~ label#sidemenutoggler::before {
  /* state of main menu label::before when menu is open  */
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#sidemenucheckbox:checked ~ label#sidemenutoggler::after {
  /* state of main menu label::after when menu is open  */
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#sidemenucheckbox{ /* main side bar menu style */
	display: none;
}

#leftsidemenu{
	position: fixed;
	top: 0;
	left: 0;
	width: 250px; /* width of menu */
	height: 100%;
	background: #D8CECE; /* background of menu */
  font: bold 1em 'Bitter', sans-serif; /* Use google custom fonts for this menu */
  z-index: 1001;
  -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
  visibility: hidden;
  box-shadow: 5px 0 10px rgba(0,0,0,.2);
	-webkit-transform: translate3d(-100%,0,0) rotate(20deg); /* offset and rotate menu. Remove rotate() if desired */
	transform: translate3d(-100%,0,0) rotate(20deg);
}

#leftsidemenu a{
	text-decoration: none;
  color: black;
  text-transform: uppercase;
}

#leftsidemenu ul{
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  display: block;
  font-size: 1.5em;
  -webkit-transform: translate3d(0,-20%,0); /* move UL upwards slightly, so it slides down menu opened */
  transform: translate3d(0,-20%,0);
  opacity: 0;
}

#leftsidemenu ul li{
}

#leftsidemenu ul li a{
  padding: 30px 10px;
  display: block;
}

#leftsidemenu ul li a:hover{
  background: #868080;
  transition: all 0.5s;
  
}
.overlay{
  content: '';
  position: fixed;
  visibility: hidden;
  width: 100%;
  height: 100%;
  background: gray;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: 1000;
  -webkit-transition: opacity .3s, visibility 0s .3s;
  transition: opacity .3s, visibility 0s .3s;
}

.overlay label{
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
}

#leftsidemenu label#closex{ /* Large x close button inside nav */
  width: 50px;
  height: 50px;
	overflow: hidden;
  display: block;
  position: absolute;
  cursor: pointer;
	text-indent: -1000px;
  z-index: 10;
  top: 0;
  right: 0;
}


#leftsidemenu label#closex::before,
#leftsidemenu label#closex::after{ /* render large cross inside close button */
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 6px;
  background: black;
  top: 50%;
  margin-top: -3px;
  -ms-transform: rotate(-40deg);
  -webkit-transform: rotate(-40deg);
  transform: rotate(-40deg);
}

#leftsidemenu label#closex::after{ /* render large cross inside close button */
  -ms-transform: rotate(40deg);
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
}

#sidemenucheckbox:checked ~ #leftsidemenu{
  visibility: visible;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
}

#sidemenucheckbox:checked ~ #leftsidemenu ul{
  -webkit-transform: translate3d(0,50px,0); /* shift menu downwards when revealed */
  transform: translate3d(0,50px,0);
  opacity: 1;
  -webkit-transition: opacity 1s .5s, -webkit-transform 1s .5s;
  transition: opacity 1s .5s, transform 1s .5s;
}

#sidemenucheckbox:checked ~ .overlay{
  opacity: .8;
  visibility: visible;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

</style>

<script>

document.createElement('nav')

function legacybrowsertoggle(){
	if (!document.getElementsByClassName){ // legacy browsers only
		var mobilemenunav = document.getElementById("leftsidemenu")
		if (mobilemenunav.style.visibility != 'visible')
			mobilemenunav.style.visibility = 'visible'
		else
			mobilemenunav.style.visibility = 'hidden'
	}
}

</script>

<!--[if lte IE 8]>

	<style>

	/* IE8 specific CSS */

	#leftsidemenu label#closex{
		position: static;
		width: auto;
		text-align: center;
		font-size: 2em;
		text-indent: 0;
	}


	</style>

<![endif]-->


